@charset "utf-8";
@import "DancingScript.css";
* {
  margin:0px;
  padding:0px;
}
body{
  font-family: "Dancing Script", cursive !important;
  background-image:url(../images/bg2.png);
}
.container {
  width:999px;
  padding: 0 !important;
  background-color:#FFF;
  margin-left:auto;
  margin-right:auto;
}
header{
  .header {
    height:80px;
    border-bottom-width:1px;
    border-bottom-color:#000;
    border-bottom-style:solid;
    .logo {
      float:left;
      @media (max-width: 768px) {
        img{
          width: 100px;
          padding: 19px 0;
        }
      }
    }
    .navigation {
      float:right;
      margin-top:55px;
      @media (max-width: 768px) {
        font-size: 13px;
      }
      a:link {
        text-decoration:none;
        color:#000;
        margin: 0px 10px 0px 10px;
      }
      a:visited {
        text-decoration:none;
        color:#000;
        margin: 0px 10px 0px 10px;
      }
      a:hover {
        text-decoration:underline;
        color: #ff3835;
        margin: 0px 10px 0px 10px;
      }
    }
  }
}
.banner {
  clear:both;
  padding-top:10px;
  background-image: url("../images/banner.jpg");
  background-size: 100% 100%;
  height: 400px;
}
main{
  .maincontent {
    float:left;
    padding:20px;
  }
  .seccontent {
    float:right;
    padding:20px;
    @media (max-width: 768px) {
      font-size: 13px;
      table{
        max-width: 160px;
      }
    }
    .textheading {
      float:left;
      color:#ff0000;
      font-size:18px;
      font-weight:bold;
    }
  }
}
footer{
  .footer {
    clear:both;
  }
}
.detail {
  float:right;
  font-family:Arial, Helvetica, sans-serif;
  width:200px;
}
.newline {
  clear:both;
  height:20px;
}
.item {
  width: 120px;
  height:150px;
  margin-left:40px;
  margin-right:40px;
  margin-bottom:30px;
  float:left;
}
.rightimage {
  float:right;
  width:300px;
}
.lefttext {
  float:left;
  width:300px;
}
.categories {
  margin-bottom:15px;
}
h1 {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
h2 {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight:bold;
}
.error {
  color:#ff0000;
}
